@import 'tailwindcss';

@font-face {
  font-family: 'Mulish';
  src: url('/src/assets/fonts/Mulish-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('/src/assets/fonts/Mulish-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('/src/assets/fonts/Mulish-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: url('/src/assets/fonts/Mulish-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Merchant;
  src: url(/src/assets/fonts/Merchant-Thin.ttf) format(truetype);
  font-weight: 100;
  line-height: 1.2;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Merchant;
  src: url(/src/assets/fonts/Merchant-Regular.ttf) format(truetype);
  font-weight: normal;
  line-height: 1.2;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: Merchant;
  src: url(/src/assets/fonts/Merchant-Bold.ttf) format(truetype);
  font-weight: 700;
  line-height: 1.2;
  font-style: normal;
  font-display: swap;

}

@theme {
  --font-*: initial;
  --font-primary: 'Mulish', 'sans-serif';
  --font-heading: 'Mercahnt', 'serif';

  --color-mainbg: #F6EDDA;
  --color-text: #4A3F2A;
  --color-links: #8B7A5D;
  --color-button: #083D77;
  --color-bgsecondary: #D0ECEA;
}

@font-face {
  font-family: 'Mulish';
  src: url('/src/assets/fonts/Mulish-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('/src/assets/fonts/Mulish-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Mulish';
  src: url('/src/assets/fonts/Mulish-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Mulish';
  src: url('/src/assets/fonts/Mulish-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Merchant';
  src: url(/src/assets/fonts/Merchant-Thin.ttf) format('truetype');
  font-weight: 100;
  line-height: 1.2;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Merchant';
  src: url(/src/assets/fonts/Merchant-Regular.ttf) format('truetype');
  font-weight: normal;
  line-height: 1.2;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'Merchant';
  src: url(/src/assets/fonts/Merchant-Bold.ttf) format('truetype');
  font-weight: 700;
  line-height: 1.2;
  font-style: normal;
  font-display: swap;

}



:root {
  font-family: 'Mulish', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

body {
  @apply text-text bg-white tracking-wider text-[min(14px,1.125rem)];

}

section {
  @apply px-10;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merchant', serif;
  @apply tracking-tight text-[min(10vw,3.5rem)];
}

h2 {
  @apply text-[min(8vw,3rem)]
}

h3 {
  @apply text-[min(2vw,1.5rem)];
}

.h3-style {
  @apply text-[min(2vw,1.5rem)];
}








/* Hintergrund: #F6EDDA

Text / Headlines: #4A3F2A

Buttons (normal): #6B9EA7

Buttons (hover): #4E7E85

Icons oder Links: #8B7A5D

Kartenhintergrund oder Sektionen: #D0ECEA */

@utility container {
  padding-inline: 2.5rem;
  margin-inline: auto;

  @variant sm {
    padding-inline: 1.5rem;

  }

  @variant lg {
    padding-inline: 2rem;
  }

  @variant xl {
    padding-inline: 2.5rem;
    max-width: 80rem;
  }
}





/* Papierhintergrund */
.paper-bg {
  z-index: 1000;
  position: fixed;
  inset: 0%;
  pointer-events: none;
  display: block;
}

.noise-overlay {
  pointer-events: none;
  position: absolute;
  top: -10rem;
  left: -10rem;
  width: calc(100% + 20rem);
  height: calc(100% + 20rem);
  background-image: url('/src/assets/noise.avif');

  opacity: 0.9;
  animation: noise 1.5s steps(2, end) infinite;
}


@keyframes noise {

  0%,
  100% {
    background-position: 0 0;
  }

  10% {
    background-position: -5% -10%;
  }

  20% {
    background-position: -15% 5%;
  }

  30% {
    background-position: 7% -25%;
  }

  40% {
    background-position: 20% 25%;
  }

  50% {
    background-position: -25% 10%;
  }

  60% {
    background-position: 15% 0;
  }

  70% {
    background-position: 0 15%;
  }

  80% {
    background-position: 25% 35%;
  }

  90% {
    background-position: -10% 10%;
  }
}

@utility container {
  padding-inline: 2, 5rem;
}




.nav-link {
  @apply text-lg font-bold font-primary;
}


/*------ Button ---------------*/

.btn {
  @apply border border-black/50 bg-button rounded-full px-6 py-3 duration-300 text-white font-bold;
}

.btn:hover {
  @apply opacity-90;


}


.btn-secondary {
  @apply  font-bold bg-transparent border rounded-full px-6 py-3 duration-300 hover:bg-button hover:text-white;
}

/* ----- Underline Links ------*/

.underline-link::before,
.underline-link.is--alt::before,
.underline-link.is--alt::after {
  content: "";
  position: absolute;
  bottom: 0em;
  left: 0;
  width: 100%;
  height: min(0.0625em, 1px);
  background-color: #131313;
  transition: transform 0.735s cubic-bezier(0.625, 0.05, 0, 1);
  transform-origin: right;
  transform: scaleX(0) rotate(0.001deg);
}

.underline-link.is--alt.is--big::before,
.underline-link.is--alt.is--big::after {

  bottom: .5em;

}

.underline-link:hover::before,
.res-card:hover .underline-link::before {
  transform-origin: left;
  transform: scaleX(1) rotate(0.001deg);
}

/* Alt */
.underline-link.is--alt::before {
  transform-origin: left;
  transform: scaleX(1) rotate(0.001deg);
  transition-delay: 0.3s;
}

.underline-link.is--alt:hover::before {
  transform-origin: right;
  transform: scaleX(0) rotate(0.001deg);
  transition-delay: 0s;
}

.underline-link.is--alt::after {
  transform-origin: right;
  transform: scaleX(0) rotate(0.001deg);
  transition-delay: 0s;
}

.underline-link.is--alt:hover::after {
  transform-origin: left;
  transform: scaleX(1) rotate(0.001deg);
  transition-delay: 0.3s;
}

.svg {
  color: black;
}

.logo {
  height: 3em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}